# Miscellaneous
.DS_Store
*.log

# Environment variables
.env*

# Firebase
.firebase/
firebase-debug.log

## Sensitive configuration files that should not be committed.
# These contain API keys and other sensitive project information.
#
# Flutter
consumer_app/lib/firebase_options.dart
consumer_app/android/app/google-services.json
# It's also good practice to ignore the iOS equivalent if you add it later.
consumer_app/ios/Runner/GoogleService-Info.plist

# Firebase Functions
functions/.runtimeconfig.json


# Flutter
# See https://flutter.dev/docs/development/tools/version-control

# General
build/
.metadata
.packages
.dart_tool/

# IDE-specific
*.iml
*.ipr
*.iws
.idea/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*

# Firebase Functions
functions/node_modules/